/* Newsroom top search Start */
.news-page {
    .secondary-tab {
        .container {
            position: relative;

            .search-box {
                position: absolute;
                right: 15px;
                top: 13px;
            }
        }
    }

    .hd7 + .search-box {
        display: none;
    }

    @include breakpoint($mxw992) {
        .secondary-tab .search-box {
            display: none;
        }

        .hd7 + .search-box {
            display: block;
            margin-top: 24px;
        }
    }
}

/* Newsroom top search End */

/* Press Release Start */
.press-release {
    @extend .pad1;
    @extend .grey-bg1;

    .hd2 {
        margin-bottom: 0;
    }
}

/* Press Release End */
/* Gallery Start */
.gallery {
    @extend .pad1;
    background: $grey-50;

    .media-card {
        margin: 35px 1% 1%;
    }
}

/* Gallery End */

/* Media Kit Start */
.media-kit {
    padding: 70px 0 110px;

    .mk-left {
        @extend .grey-bg;
        padding: 44px 0 44px 60px;
        margin-right: 40px;

        &.white {
            background: $c-white;
        }

        p.clr-grey {
            min-height: 80px;
            margin-top: 12px;
        }
    }

    .media-list {
        margin: 0 -40px -110px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card-media {
            @extend .white-box;
            width: 180px;
            height: 180px;
            text-align: center;
            padding: 24px 30px 0;
            margin-bottom: 28px;

            > a {
                flex-direction: column;
            }

            figure {
                width: 90px;
                height: 90px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
            }
        }
    }

    .media-right {
        .hd2 {
            margin: 44px 0 20px;
        }

        .list-item li {
            margin-bottom: 24px
        }

        &.white {
            .list-item.opt1 li span {
                background: $c-white;
            }
        }
    }

    @include breakpoint($mxw992) {
        padding: 40px 0;

        .mk-left {
            margin-right: 0;
            padding-left: 20px;
            padding-right: 20px;
        }

        .media-list {
            margin-right: 0;

            .card-media {
                width: 135px;
                height: 135px;
                padding: 20px 10px 0;

                figure {
                    width: 60px;
                    height: 60px;

                    img.jpg {
                        width: 100%;
                    }

                    img.svg {
                        height: 40px;
                        width: auto;
                    }
                }
            }
        }

        .media-right .list-item {
            display: flex;

            li {
                width: 30%;
                margin-right: 5%;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }

    @include breakpoint($mxw768) {
        .media-list {
            margin-top: 30px;
        }

        .media-right {
            padding: 30px 20px 0;

            .list-item {
                flex-direction: column;

                li {
                    width: 100%;
                }
            }
        }
    }
}

/* Media Kit end */

/* Media Contact Start */
.media-contact {
    .card-look.full.opt1 {
        background: none;

        .f12 {
            color: $grey-400;
        }

        div {
            width: 32%;
            padding: 0;
            padding-left: 40px;

            &.btn-box {
                padding: 0;

                .btn-white {
                    min-width: inherit;
                    color: $c-black;
                }
            }
        }

        figure img {
            width: 300px;
        }

        @include breakpoint($mxw1000) {
            div:first-child {
                padding-left: 20px;
            }

            figure {
                margin: 0 12px 0 0;
            }
        }

        @include breakpoint($mxw992) {
            div {
                width: 100%;

                &:first-child {
                    padding: 0 0 30px 0;
                }
            }

            figure {
                margin: -110px 0 0 auto;
            }
        }

        @include breakpoint($mxw768) {
            padding: 30px 20px 0;

            div {
                &.btn-box {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 15px;
                }
            }

            figure {
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }
        }
    }
}

/* Media Contact End */
/* In the news Start */
.in-news {
    @extend .pad2;

    .brdb {
        border-bottom: 1px solid $grey-200;
        padding-bottom: 16px;
        align-items: flex-end;

        .hd2 {
            margin-bottom: 0;
        }
    }

    @include breakpoint($mxw992) {
        .media-card {
            margin-top: 20px;
        }
    }
}

/* In the news End */

/* Trending Start */
.trending {
    @extend .grey-bg;
    padding-top: 60px;

    .tab-content {
        //background: url(../images/frame.jpg) no-repeat 0 0 / contain;
        background-size: contain;
        padding: 54px;
        margin-right: -30px;
        min-height: 512px;
    }

    @include breakpoint($mxw1000) {
        .tab-content {
            min-height: 436px;
        }
    }

    @include breakpoint($mxw992) {
        .tab-content {
            min-height: 550px;
            margin-right: 0;
        }
    }

    @include breakpoint($mxw768) {
        .tab-content {
            margin: 30px -15px 0;
            padding: 30px;
            min-height: inherit;

            .tab-pane {
                height: 220px;
                overflow-y: auto;
            }
        }
    }
}

/* Trending End */
/* Trending tab Icons Start */
.nav.trnd {
    margin-top: 92px;
    display: flex;

    li {
        margin-right: 40px;

        a {
            width: 67px;
            height: 67px;
            border-radius: 50%;
            background: url(../images/svg/bgIcon.svg) no-repeat center center;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
                background-image: url(../images/svg/bghover.svg);
            }
        }
    }

    @include breakpoint($mxw1000) {
        margin-top: 50px;
    }
}

/* Trending tab Icons End */

/* Press Release page Start */
.pr-page {
    @extend .grey-bg;
    padding: 50px 0 0;
}

/* Press Release page End */
/* In the news Video section Start */
.video-gallery {
    @extend .pad1;
    background: $c-white;

    .col-md-6 {
        margin-top: 30px;
    }

    .media-card {
        height: 100%;
    }
}

/* In the news Video section End */
/* Gallery Landing Start */
.gallery-main {

    @include breakpoint($mxw768) {
        .col-md-6.MB30 {
            margin-bottom: 15px;
        }

        .icons-2 {
            .col-6 {
                &:first-child {
                    padding-right: 7px;
                }

                &:last-child {
                    padding-left: 7px;
                }
            }
        }
    }
}

/* Gallery Landing End */

/* Gallery Detail Start */
.gallery-detail {
    padding-bottom: 30px;

    .back-btn {
        .hd2 {
            color: $c-black;
        }

        .icon-Left {
            font-size: 20px;

            &:before {
                color: $c-red;
            }
        }
    }

    .owl-carousel .owl-item .download {
        flex: 0 0 36px;
        margin-left: 6px;

        img {
            width: auto;
            margin: 8px auto;
        }
    }

    .media-card.op1 {
        box-shadow: none;
        margin-top: 30px;

        figure {
            .top-links {
                top: 30px;
                right: 30px;
            }

            img {
                border-radius: 0;
            }

            .icon-download {
                font-size: 20px
            }
        }
    }

    .owl-nav {
        span {
            display: inline-block;

            margin: 2px;
            background: $c-white;
            border-radius: 50%;
            font-size: 20px;
            padding: 8px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .22);
        }

        .owl-prev {
            left: -20px;
            top: auto;
            bottom: -90px;
        }

        .owl-next {
            right: -20px;
            top: auto;
            bottom: -90px;
        }
    }

    #sync1 {
        position: relative;
        z-index: 1;

        .item {
            background: #0c83e7;
            //padding: 80px 0px;
            //margin: 5px;
            margin-bottom: 30px;
            color: #FFF;
            border-radius: 3px;
            //text-align: center;
        }
    }

    #sync2 {
        position: relative;

        .synced::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 6px;
            background: $c-red;
        }

        .item {
            cursor: pointer;
        }
    }

    @include breakpoint($mxw1000) {

        .owl-nav .owl-prev,
        .owl-nav .owl-next {
            bottom: -72px;
        }
    }

    @include breakpoint($mxw992) {

        .owl-nav .owl-prev,
        .owl-nav .owl-next {
            bottom: -96px;
        }
    }

    @include breakpoint($mxw768) {
        .owl-nav {
            .owl-next {
                right: -10px;
            }

            .owl-prev {
                left: -10px;
            }
        }

        .download-btn {
            margin: 0 0 0 20px;
        }
    }
}

/* Gallery Detail End */
.MTB50 {
    margin: 50px 0;
}

hr.op2 {
    margin: 50px 0 10px;
    border-top-color: $grey-200;

    @include breakpoint($mxw992) {
        margin: 25px 0 0;
    }
}
