/* Product listing page card  */
.card {
  &.op2 {
    padding: 20px 30px 40px;
    border: 1px solid $c-grey-4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
    height: 100%;
    position: relative;

    @include breakpoint($mxw1000) {
      padding: 20px 20px 25px;
    }

    hr {
      width: 24px;
      border: $c-red solid 1px;
      margin-left: 0px;
      display: inline-block;
      margin: 0.6rem 0;
    }

    figure {
      text-align: center;
      margin-bottom: 0px;
      position: relative;

      .cta {
        position: absolute;
        top: -20px;
        right: -30px;

        a {
          background: $c-yellow;
          width: 100px;
          display: block;
          border-radius: 0px 0px 0px 11px;
          padding: 10px 10px 10px 25px;
          font-weight: $font-bold;
          font-size: 13px;
          line-height: 1;
          color: $grey-400;

          &:after {
            position: absolute;
            content: "";
            font-family: icomoon;
            content: "\e906";
            font-size: 13px;
            height: 15px;
            width: 15px;
            left: 12px;
            top: 10px;
          }
        }

        &.selected {
          a {
            background: $grey-100;
            color: $c-red;
            font-weight: $font-bold;

            &:after {
              content: "\e905";
            }
          }
        }
      }

      img {
        width: auto;
        margin: 0 auto;
      }
    }

    .card-body {
      border-bottom: 0px;
      padding: 20px 0px;
      background: transparent;
      min-height: 230px;

      .hd3b {
        line-height: 1;
      }

      .card-text {
        margin-top: 20px;
      }
    }

    .btn-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn-red {
        @include breakpoint($mxw1000) {
          min-width: 140px;
        }

        @include breakpoint($mxw769) {
          min-width: 160px;
        }
      }

    }

    /* Notification Box for more than 3 product*/
    .notif-bx {
      border-radius: 6px;
      width: 180px;
      top: 32px;
      right: -10px;
      position: absolute;
      background: $c-white;
      line-height: 1.3;
      z-index: 1;
      padding: 20px 15px 15px 15px;
      font-size: 12px;
      box-shadow: 0 10px 9px 0px rgba(138, 107, 107, 0.11);

      &:after {
        content: "";
        position: absolute;
        bottom: 100%;
        right: 30%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        box-shadow: 0 5px 4px -2px rgba(138, 107, 107, 0.11);
        border-color: transparent transparent $c-white transparent;
      }

      .close-btn {
        position: absolute;
        top: 7px;
        right: 20px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        color: $c-black;

        &:after {
          position: absolute;
          content: "";
          font-family: icomoon;
          content: "\e919";
          font-size: 11px;
        }
      }
    }

    /* Notification Box for more than 3 product End*/
  }
}

/* Product listing page card end */
