/* Ways to bank element*/

.way-to-bank {
    padding: 45px 0 70px 0;
  
    .hd1.black+p {
      color: $grey-400;
      margin: 10px 0 20px;
    }
  
    &.overlap-above {
      margin-top: -65px;
    }
  
    @include breakpoint($mxw1000) {
      .hd1 {
        font-size: 48px;
      }
    }
  
    @include breakpoint($mxw992) {
      padding: 50px 0;
  
      .row {
        align-items: center;
      }
  
      &.overlap-above {
        margin-top: 0;
      }
  
      .hd1.black {
        margin: 12px 0;
      }
  
      .download-btn {
        margin-bottom: 32px;
  
        a {
          display: block;
          margin-top: 12px;
        }
      }
    }
}

/* Ways to bank element end*/
