/*Blog listing page list card*/
.card.opt1 {
  overflow: hidden;
}

.card.opt1:hover img {
  transform: scale(1.1);
}

.card.opt1 img {
  width: 100%;
  transition: 0.3s;
}

.card.opt1 .star-box {
  position: absolute;
  right: 15px;
  top: 15px;
}

.card.opt1 .star-box .icon-star::before {
  color: #FFFFFF;
}

.card.opt1 .card-img-overlay {
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 4%, black 93%);
  top: 50%;
}

.card.opt1 .card-img-overlay .card-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
  /*links color added 10 sep 2020 */
  min-height: 40px;
  /*links color added 10 sep 2020 end*/
}

.card.opt1 .card-img-overlay .card-title a {
  color: #FFFFFF;
}

.card.opt1 .card-img-overlay .card-text {
  color: #b8b8b8;
  font-size: 12px;
}

@media (max-width: 991px) {
  .card.opt1 {
    margin-bottom: 30px;
  }
}

/*Blog listing page list card end*/