/* General css for page */
.schedule-charges-banner .active .card-box {
  border-bottom-color: #9d1d27;
}

.schedule-charges-banner .active .card-box .card-title {
  font-weight: 400;
}

.schedule-charges-banner .card-box {
  border-radius: 5px;
  min-height: 150px;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 3px solid transparent;
}

.schedule-charges-banner .card-box .card-title {
  font-weight: 300;
  margin-top: 10px;
  font-size: 24px;
}

.section-1 {
  padding: 40px 0 100px 0;
}

.MT60 {
  margin-top: 60px;
}

.grey-bg,
.banner2 .banner-wrapper.grey-btm,
.code-pol,
.related-product,
.bod-page,
.media-kit .mk-left,
.trending,
.pr-page {
  background: #f3f3f3;
}

.grey-bg2 {
  background: #fafafa;
}

.link-txt {
  font-size: 14px;
  font-weight: 700;
  color: #9D1D27;
}

hr.op1 {
  margin: 50px 0;
  border-top-color: #d8d8d8;
}

@media (max-width: 991px) {
  .mt-15-sm {
    margin-top: 15px;
  }

  .mt-30-sm {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .mt-30-sm {
    margin-top: 0;
  }
}

/* General css for page end */
/* Heading + apply button*/
.heading-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0;
  /* after animation added*/
  position: relative;
  z-index: 1;
  /* after animation added end*/
  /**/
}

.heading-box .hd {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .heading-box {
    display: block;
  }
}

/* Heading + apply button end*/
/* Sticky botton at bottom for mobile start */
.sticky-btm {
  display: none;
  transition: transform .3s linear;
}

.sticky-btm.hide {
  transform: translate(0, 50px);
}

.sticky-btm a {
  display: block;
  height: 50px;
  background: #9D1D27;
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .sticky-btm {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
}

/* Sticky botton at bottom for mobile end */