body {
    padding-top: 100px;

    &.overflow {
        overflow: hidden;
    }

    @include breakpoint($mxw992) {
        padding-top: 70px;
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100px;
    background: $c-white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .22);
    transition: all .1s ease;

    &.sticky {
        height: 70px;
        overflow: hidden;
        z-index: 3;

        .menu {
            opacity: 1;
            left: 0;
            width: 84px;
            padding: 25px 20px 25px 40px;
        }

        .top-nav-left {
            opacity: 0;
            width: 50px;
        }

        .top-nav-right li.drop-down {
            opacity: 0;

            > a {
                line-height: inherit;
            }
        }

        .sub-nav {
            opacity: 0;
            transform: translateY(-50%);
        }

        .top-nav {
            height: 70px;

            .logo {
                padding: 15px 0 0 20px;
            }
        }

        .top-nav-right {
            li.stvi {
                display: block;

                .icon-search {
                    vertical-align: middle;
                }
            }
        }

        .sec-nav {
            display: none;
        }

        .login a {
            height: 70px;
        }

        @include breakpoint($mxw992) {
            .top-nav .logo {
                padding-top: 0;
            }
        }
    }

    @include breakpoint($mxw992) {
        height: 70px;
    }

    a {
        color: $c-grey-7;
    }
}

.header-main {
    //max-width: 1366px;
    margin: 0 auto;
}

.sec-nav {
    display: flex;
    background: $c-grey-1;
    height: 40px;
    opacity: 1;
    transform: translateY(0);
    transition: all .3s ease;
    position: relative;
    z-index: 1;

    > ul {
        display: flex;
        //padding-left: 40px;

        &.pre {
            //background: #ECECEC;
            padding-left: 208px;
        }

        &.last {
            margin-left: auto;
            margin-right: 28px;

            li {
                position: relative;

                .icon-search {
                    vertical-align: middle;
                }
            }
        }

        > li {
            line-height: 40px;
            font-size: 14px;
            margin-right: 32px;

            &.sec {
                background: $c-grey-1;
                margin-right: 0;
                padding-left: 30px;
            }

            > a {

                &:hover,
                &.active {
                    color: $c-red;
                    font-weight: 700;

                    .icon-Down::before {
                        color: $c-red;
                        content: '\e903';
                    }
                }

                .icon-Down {
                    font-weight: 700;
                    font-size: 13px;
                    margin-left: 5px;
                }
            }
        }

        .icon-search {
            font-size: 16px;
            font-weight: 700;
        }

        .icon-lage {
            font-size: 20px;
        }

        .dfv {
            display: flex;
            align-items: center;
            height: 100%;
        }

        @include breakpoint($mxw1000) {
            li {
                margin-right: 24px;
            }

            &.pre {
                padding-left: 162px;
            }

            &.last {
                margin-right: 4px;
            }
        }
    }
}

.top-nav {
    height: 60px;
    display: flex;

    .logo {
        padding: 10px 30px 0 46px;

        a img {
            display: block;
        }
    }

    .menu {
        position: relative;
        left: -20px;
        padding: 25px 0;
        width: 0;
        opacity: 0;
        transition: all .3s linear;

        a img {
            display: block;
        }

        a span {
            font-size: 20px;
        }
    }

    @include breakpoint($mxw1000) {
        .logo {
            padding: 10px 10px 0 30px;
        }
    }

    @include breakpoint($mxw992) {
        height: 70px;
        align-items: center;

        .menu {
            position: static;
            opacity: 1;
            left: 0;
            width: 24px;
        }

        .logo {
            padding: 0 0 0 20px;

            img {
                height: 32px;
            }
        }

        .menu-mob .icon-menu,
        .icon-search {
            display: block;
            //padding: 25px 0;
        }

        .icon-search {
            font-size: 24px;
            margin-right: 8px;
        }

        .myCornerm img {
            height: 30px;
        }
    }
}

.top-nav-left {
    opacity: 1;
    transition: opacity .3s ease;
    display: flex;

    > li {
        margin: 0 16px;
        position: relative;

        &.active > a,
        &:hover > a {
            //border-bottom-color: $c-red;
            font-weight: $font-bold;

            .icon-Down::before {
                color: $c-red;
                content: '\e903';
            }
        }

        > a {
            display: block;
            //border-bottom: 5px solid transparent;
            padding: 20px 0;

            .icon-Down {
                font-weight: 700;
                font-size: 13px;
                margin-left: 5px;
            }
        }

        .dfm {
            display: flex;
            align-items: center;

            .icon-more {
                font-size: 20px;
                margin-right: 8px;
            }
        }

        .icon {
            margin-right: 8px;
            display: inline-block;

            img {
                width: 20px;
                height: 20px;
            }
        }

        @include breakpoint($mxw1280) {
            &.hide-1024 {
                display: none;
            }
        }

        @include breakpoint($mxw1000) {
            //margin-left: 28px;
            font-size: 14px;
            margin: 0 8px;
        }
    }
}

.top-nav-right {
    opacity: 1;
    transition: opacity .3s ease;

    //padding-top: 20px;
    .right-nav {
        display: flex;
        align-items: center;

        > li {
            margin: 0 16px;
            position: relative;

            > a {
                padding: 15px 0;
                line-height: 30px;
            }

            &:last-child {
                margin-right: 0;
            }

            &.stvi {
                display: none;
            }

            .search,
            .icon-lage {
                font-size: 22px;
            }

            @include breakpoint($mxw1000) {
                margin: 0 8px;
                font-size: 14px;
            }

            @include breakpoint($mxw992) {
                margin-right: 24px;
            }
        }
    }
}

.sub-nav {
    opacity: 1;
    transform: translateY(0);
    transition: all .3s ease;
    border-top: 1px solid $grey-200;


    ul {
        display: flex;
        justify-content: center;

        li {
            padding: 20px;
        }
    }
}

.my-corner {
    display: inline-block;
    background: url(../images/svg/my-corner.svg) no-repeat right center;
    padding-right: 46px;
    line-height: 38px;

    @include breakpoint($mxw1000) {
        padding-right: 38px;
        height: 38px;

        span {
            display: none;
        }
    }
}

.login a {
    display: flex;
    align-items: center;
    //background: $c-yellow;
    transition: 0.3s;
    position: relative;
    padding: 0;
    margin: 0 54px 0 0;
    //z-index: 1;
    color: $c-grey-7;

    span {
        margin-right: 8px;
    }

    @include breakpoint($mxw1000) {
        margin-right: 30px;
    }

    @include breakpoint($mxw992) {
        flex-direction: column;
        justify-content: center;
        padding: 14px 13px 13px;
        margin-right: -15px;
        font-size: 12px;

        span {
            font-size: 20px;
            margin: 0 0 3px;
        }
    }
}

/* Mobile Menu start*/
.mob-menu {
    display: none;

    @include breakpoint($mxw992) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background: $c-white;
        overflow: auto;

        .mm-top-in {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);

            .logo img {
                height: 34px;
                width: auto;
            }

            .search {
                margin-left: auto;
                margin-right: 30px;

                .icon-search {
                    font-size: 24px;

                    &:before {
                        color: $brownish-grey;
                    }
                }
            }

            .icon-close {
                font-size: 20px;

                &:before {
                    color: $brownish-grey;
                }
            }
        }

        .mm-mid {
            .mob-scrollm {
                //background: $grey-100;

                ul {
                    min-width: 300px
                }
            }

            .nav {
                display: flex;
                flex-wrap: nowrap;
                padding: 0 35px;
                overflow-x: auto;

                li {
                    margin-right: 12px;
                    padding: 15px 0;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        //border-bottom: 5px solid transparent;
                        display: inline-block;
                        padding: 5px 14px;
                        border-radius: 15px;

                        &.active {
                            //border-bottom-color: $c-red;
                            font-weight: $font-bold;
                            background: $c-red;
                            color: $c-white;
                        }
                    }
                }
            }

            .tab-content {
                padding: 0;

                .mlink {
                    border-bottom: 1px solid rgba($c-red, .3);
                    padding-bottom: 24px;
                    margin-bottom: 0;

                    a {
                        font-weight: 700;
                        color: $c-red;
                    }
                }
            }
        }

        .footer-top .fot-dred {
            padding: 40px 20px;
        }

        .footer .fot-dred .col-lg-5 {
            margin-bottom: 0;
        }

        .mob-smenu {
            a.redirect-link {
                padding: 22px 15px 15px 15px;
                position: relative;
                background: $c-red;
                border-bottom: 1px solid rgba($grey-200, .21);
                color: $c-white;
                display: block;

                &::before {
                    position: absolute;
                    font-size: 14px;
                    font-family: icomoon;
                    content: "\e902";
                    right: 15px;
                    top: 24px;
                    color: $c-white;
                }
            }

            .main-link {
                padding: 20px 15px;
                background: $grey-200;
                font-weight: 700;

                a {
                    color: $c-red;
                }
            }

            .fhd {
                padding: 20px 15px;
                position: relative;
                background: $grey-100;
                border-bottom: 1px solid $grey-200;
                //color: $c-white;

                &.act {
                    color: $c-red;
                    font-weight: 700;

                    &::before {
                        content: "\e903";
                        //color: $c-red;
                    }
                }

                &::before {
                    position: absolute;
                    font-size: 14px;
                    font-family: icomoon;
                    content: "\e900";
                    right: 15px;
                    top: 20px;
                    color: $c-red;
                }

                &.others-menu {
                    background: #525252;
                    color: $c-white;
                    border-bottom-color: #D0D0D0;

                    &.last {
                        border-bottom: 0;
                    }

                    &::before {
                        color: $c-white;
                    }
                }
            }

            .fbody {
                display: none;
                border-bottom: 1px solid $grey-200;

                .fhd {
                    border-bottom: 0;
                    background: $grey-100;
                    border-top: 1px solid rgba($grey-200, .5);
                    padding: 22px 15px 15px 15px;
                    color: $c-black;

                    &:first-child {
                        border-top: 0;
                    }

                    &.act {
                        color: $c-black;

                        &::before {
                            content: "\e903";
                            color: $c-red;
                        }
                    }

                    &::before {
                        content: "\e900";
                        right: 15px;
                        color: $c-black;
                    }

                }

                ul {
                    display: none;

                    &.flist {
                        display: block;
                    }

                }
            }

            .flist {
                padding-top: 25px;
                display: none;

                li {
                    padding: 0 25px 20px 25px;

                    hr {
                        margin-bottom: .5rem;
                    }

                    &:first-child {
                        //padding-top: 10px;
                    }

                    &:last-child {
                        padding-bottom: 28px;
                    }

                    &.flist-hd {
                        font-weight: 700;
                        color: $c-red;
                        padding-left: 15px;
                    }
                }
            }

            .fhd-link {
                padding: 28px 0;
                font-weight: 700;
                border-top: 1px solid rgba($grey-200, .5);
            }
        }

        .footer .fot-red1 {
            padding: 20px 0;

            ul li {
                font-weight: 700;
                border-bottom: 1px solid rgba($c-white, .2);
                margin-top: 0;
                padding: 16px 0;

                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }

    @include breakpoint($mxw768) {
        .mm-mid .nav {
            padding: 0 15px;
        }
    }
}

/* Mobile Menu end*/

// Secondary Navigation
.snav-wraper,
.stab-wraper {
    height: 70px;
}

.bg-grey {
    .secondary-tab {
        border-bottom: solid 1px $grey-200;
        background: $grey-50;
        height: 69px;

        @include breakpoint($mxw1000) {
            height: auto;
        }
    }
}

.secondary-nav,
.secondary-tab,
.secondary-tab-normal {
    background: $c-white;
    //border-bottom: 1px solid rgba($black, .2);

    &.sticky {
        position: fixed;
        width: 100%;
        top: 70px;
        left: 0;
        z-index: 2;
    }

    ul:not(.filter) {
        display: flex;

        &.op1 li {
            margin: 0 28px;

            &:last-child {
                margin-right: 0;
            }

            @include breakpoint($mxw1000) {
                margin: 0 14px;
            }
        }

        li {
            margin: 0 36px;

            p {
                margin-bottom: 0;
            }

            &.no-data {
                margin: 0;
            }

            /* mobile net banking for 1024 resolution*/
            @include breakpoint($mxw1000) {
                margin: 0 20px;
            }

            /* mobile net banking for 1024 resolution end*/
            &:first-child {
                margin-left: 0;
            }

            a {
                padding: 30px 0 20px;
                display: block;
                font-weight: $font-normal;
                position: relative;
                font-size: 16px;

                &::after {
                    border-bottom: 3px solid $maroon;
                    content: "";
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 0;
                    margin: auto;
                    position: absolute;
                    transition: .3s all ease;
                }

                strong {
                    font-weight: $font-normal;
                }

                &.active,
                &:hover {
                    strong {
                        font-weight: $font-bold;
                    }

                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    @include breakpoint($mxw992) {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        ul li {
            margin: 0 24px;
        }
    }
}

/*Normal tabs*/
.secondary-tab-normal {
    border-bottom: solid 1px $grey-200;
    height: 69px;

    ul {
        @include breakpoint($mxw768) {
            justify-content: space-around;
            flex-wrap: nowrap;
            overflow-x: auto;
        }

        li {
            margin: 0 8px;

            @include breakpoint($mxw768) {
                margin: 0;
            }

            a {
                padding: 30px 15px 20px 20px;
            }
        }
    }

    @include breakpoint($mxw1000) {
        height: auto;
    }
}

/*Normal tabs end*/
//Mega menu
.sec-nav ul.last,
.right-nav,
.sub-nav,
.top-nav {
    .dropdown-content {
        display: none;
        position: absolute;
        background: $c-white;
        width: 300px;
        left: -20px;
        z-index: 2;
        //min-height: 520px;
        top: 60px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
        padding: 20px 28px;

        li {
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }

            &.sep-line {
                border-bottom: 1px solid $grey-200;
                margin: 16px 0;
            }
        }
    }

    .drop-down {
        &:hover {
            > a {
                display: block;
                color: $c-red;
                font-weight: bold;
                border-bottom-color: $c-red;

                .icon-Down::before {
                    color: $c-red;
                    content: '\e903';
                }
            }

            .dropdown-content {
                display: block;
            }
        }
    }
}

.sec-nav ul.last .dropdown-content {
    top: 40px;
    background: $c-grey-1;
    width: 260px;

    li {
        line-height: 1;
        font-size: 16px;
    }
}

.sec-nav ul.last .rgt .dropdown-content {
    left: auto;
    right: -20px;
}

.mega-menu {
    display: flex;

    ul.nav {
        margin: 0;
        flex-wrap: nowrap;
        flex-direction: column;
        border-right: 1px solid $grey-200;
        //width: 190px;
        flex: 0 0 185px;
        padding: 10px 0;
        min-height: 520px;
        justify-content: flex-start;

        li {
            padding: 0;
            margin-top: 30px;
            font-weight: $font-bold;
            position: relative;

            a {
                padding: 0;
                line-height: 24px;
                display: block;

                &.active {
                    color: $maroon;

                    &::after {
                        border-right: 2px solid $maroon;
                        position: absolute;
                        right: -2px;
                        top: 0;
                        height: 100%;
                        content: "";
                    }
                }
            }
        }

    }

    .menu-right-box {
        padding: 40px 0 40px 60px;
        width: 100%;

        ul {
            flex-wrap: wrap;
            flex-direction: column;

            &.no-hd li:first-child {
                margin-top: 0;
            }

            li {
                padding: 0;
                margin-top: 20px;
            }
        }
    }

    .menu-title,
    .card-title {
        margin: 0;
        font-size: 24px;
        line-height: 1.2;
        font-weight: $font-bold;

        &.MT30 {
            margin-top: 30px;
        }

        &.with-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .arrow span {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

.icon-close {
    &.black {
        &::before {
            color: $c-black;
        }
    }
}

.login-bx {
    padding: 0;

    .login-top {
        background: $c-red;
        background-image: linear-gradient(134deg, #C4777D 0%, #9D1D27 91%);
        padding: 40px 60px 32px;
        border-radius: 4px 4px 0 0;

        .hd {
            color: $c-white;
            margin-bottom: 20px;
        }

        .white-box {
            padding-top: 5px;
        }

        .login-nav ul {
            display: flex;

            li {
                width: 50%;
                text-align: center;

                a {
                    padding: 20px 0;
                    display: block;
                    border-bottom: 5px solid transparent;

                    &.active {
                        border-bottom-color: $c-red;
                        font-weight: 700;
                    }
                }
            }
        }

        .tab-pane {
            text-align: center;
            padding: 40px 20px;

            .padg {
                padding: 0 60px;
            }

            .btn-box {
                display: flex;
                justify-content: center;
                margin-top: 32px;

                a {
                    font-size: 14px;
                }

                .btn-white {
                    line-height: 26px;
                }
            }
        }
    }

    .login-btm {
        padding: 40px 80px;
        background: $c-white;
        border-radius: 0 0 4px 4px;
    }

    @include breakpoint($mxw992) {
        .login-top .tab-pane .btn-box {
            a {
                line-height: 50px;
            }

            .btn-white {
                line-height: 46px;
            }
        }
    }

    @include breakpoint($mxw768) {
        .popup-close {
            right: 12px;
            top: 12px;
        }

        .login-top {
            padding: 30px 15px;

            .tab-pane .padg {
                padding: 0;
            }

            .tab-pane .btn-box {
                display: block;

                a {
                    min-width: 200px;

                    &:first-child {
                        margin: 0 0 10px;
                    }
                }
            }
        }

        .login-btm {
            padding: 30px;

            .btn-box.MT15 .MR10 {
                margin: 0 0 10px;
            }
        }
    }

    .login-upgrade {
        background: url(../images/upgrade.png) no-repeat 0 0;
        background-size: cover;
        padding: 35px 40px 30px;
    }

    .loan-and-wholesale {
        padding: 35px 40px 10px;

        .heading {
            border-bottom: 1px solid $c-grey-4;
            padding-bottom: 5px;
        }

        ul {
            li {
                font-size: 17px;
                font-weight: $font-bold;
                color: $c-red;
                margin-bottom: 20px;

                a {
                    color: $c-red;
                    display: inline-block;
                    background: url(../images/svg/link-arrow.svg) no-repeat right center;
                    padding-right: 20px;
                }
            }
        }
    }
}

.feedback {
    position: fixed;
    right: 0;
    @include center(y);
    top: 52%;
    z-index: 1;
    display: flex;
    flex-direction: column;

    img {
        width: 32px;
        height: auto;
    }
}

.announcement {
    position: absolute;
    @include center(y);
    top: 52%;
    margin: -80px 0 0 -62px;

    img {
        width: 37px;
        height: 82.2px;
    }
}

.announ-box {
    background: $c-white;
    padding: 30px 15px 30px 30px;
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    z-index: 4;
    transition: all ease .4s;

    &.open {
        right: 0;

        + .ann-overlay {
            display: block;
        }
    }

    @include breakpoint($mxw768) {
        right: -280px;
        width: 280px;

        .hd3b {
            font-size: 20px;
        }
    }
}

.ann-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    z-index: 3;
    display: none;
}

//.announ-list1 {
//    height: 98%;
//    overflow-y: auto;
//    padding-right: 15px;
//}

.announ-list {
    height: 96%;
    margin-top: 10px;

    .announ-item {
        padding: 16px 0;
        margin-right: 10px;
        border-bottom: 1px solid $grey-200;
        color: $brownish-grey-two;

        .f12 {
            line-height: 16px;
            margin: 8px 0;
        }

        .annImg {
            margin: 10px 0;

            img {
                width: 100%;
            }
        }

        .more {
            display: none;
        }

        .rmore {
            color: $c-red;
        }
    }

    @include breakpoint($mxw768) {
        height: 88vh;
    }
}
