//font-style
$font-normal: 400;
$font-light: 300;
$font-bold: 700;
$font-semi: 600;
//grid
$mxw320: max-width 360px;
$mxw425: max-width 425px;
$mxw768: max-width 767px;
$mnw768: min-width 767px;
$mxw769: max-width 768px;
$mxw1000: max-width 1024px;
$mxw992: max-width 991px;
$mnw992: min-width 992px;
$mnw1025: min-width 1025px;
$mxw1280: max-width 1280px;
$mxw1200: max-width 1199px;
$mxw1440: max-width 1440px;
$mxw1366: max-width 1366px;
$mnw1440: min-width 1441px;
$mnw1920: min-width 1920px;
//colors
$c-black-pure: #000;
$c-black: #54565B;
$c-white: #FFFFFF;
$c-red: #9D1D27;
$c-red2: #DA3442;
$c-yellow: #FFCB05;
$c-black2: #25243B;
$c-black1: #111111;
$c-grey-1: #F5F5F5;
$c-grey-2: #979797;
$c-grey-3: #b8b8b8;
$c-grey-4: #E5E5E5;
$c-grey-5: #616161;
$c-grey-6: #E8E8E8;
$c-grey-7: #525252;
$c-green: #00A07A;
$white: #ffffff;
$grey-50: #fafafa;
$grey-100: #f3f3f3;
$grey-200: #d8d8d8;
$grey-400: #737373;
$grey-500: #54565b;
$maroon: #9d1d27;
$red: #d10000;
$red2: #DA3745;
$blue: #0064b0;
$black: #222222;
$very-light-pink: #b8b8b8;
$brownish-grey: #787878;
$taupe: #b9a37b;
$rouge: #9c1d26;
$c-green: #00a07a;
$teal: #00a07a;
$marigold: #ffcb05;
$brownish-grey-two: #767676;
$grey-600:#F6F6F6;
$c-orange:#D1451A;
$c-pink-light:#E8D9DF;
$c-peach:#F4D8CF;
$c-sky:#C2D8EF;
$c-twilight:#E1E1EB;
$c-tintBrown:#EFDFD3;
$c-blk1: #25243B;
$c-red1: #9B1E26;